Case: The supply chain manager of a Coffee company has to decide the optimum order quantity of raw coffee which it imports from its partner supplier in Columbia. The annual demand of the coffee is 4000 tons per year and the price of 1 ton from the supplier is $2500, assuming the holding rate of 10% while the cost of transportation and ordering is 6000 USD. Also if the supplier offers a discount of 10% on order quantity of 500, will you accept it? 
Also find the reorder point if;
1. The lead time is 1 month
2. The lead time is 2 months

In [ ]:
pip install inventorize3

In [ ]:
import inventorize3 as inv
import pandas as pd
import numpy as np

Defining the given case

In [ ]:
D = 4000
C = 2500
Co = 6000
Ch = 0.1

In [ ]:
EOQ_df = pd.DataFrame(inv.eoq(D, Co, C, Ch), index = [0])
EOQ_df

          EOQ   T_years   T_weeks
0  438.178046  0.109545  5.696315

In [ ]:
EOQ = EOQ_df.loc[0, "EOQ"]
EOQ

438.1780460041329

We have found the Economic Order Quantity using the inventorize library. Now let's find the cost associated when the order quantity is EOQ

In [12]:
cost_EOQ = D*C + (D/EOQ)*Co + EOQ*Ch/2
cost_EOQ

10054794.164652817

Analyzing the case when the supplier offers a discount of 10% on Order Quantity of 500.

In [ ]:
discount_qty = 500

In [ ]:
cost_discount_qty = D*C + D/discount_qty*Co + discount_qty*Ch/2
cost_discount_qty

10048025.0

Thus we can conclude that the offer provided by the supplier is profitable and we should set the order quantity as 500 to avail the discount.

Calculating the Reorder point if the lead time is 1 month.                               

Reorder Qty = Lead time * Demand during the lead time + Safety Stock                       
Note: If the reorder point is greate5sr than Order quantity (i.e one cycle) then we subtract the order qty until the reorder point is less than order qty.

Function for reorder point

In [16]:
def reorder_point(Order_qty, Lead_time, Demand_rate, Safety_stock):
  Reorder_point = Demand_rate*Lead_time + Safety_stock
  while Reorder_point > Order_qty:
    Reorder_point -= Order_qty
  
  return Reorder_point

Case 1: Lead time is 1 month

In [17]:
reorder_point(500, 1, D/12, 0)

333.3333333333333

Case 2: Lead time is 2 month

In [18]:
reorder_point(500, 2, D/12, 0)

166.66666666666663